<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: htmlhead"></head>
<meta charset="UTF-8">
<title>Novo Procedimento</title>
<body>
	<div class="container">
		<nav th:replace="layout :: menu">(menu)</nav>
		<div class="border border-dark">
			<form th:action="@{/procedimento/(form)}" th:object="${procedimento}"
				action="#" method="post">
				<input type="hidden" id="txtid" th:field="*{id}" />

				<div class="form-group">
					<label for="txtnome">Nome</label> <input type="text"
						th:field="*{nome}" class="form-control" id="txtnome"
						placeholder="Nome">
				</div>

				<div class="form-group">
					<label for="txtdescricao">Descrição</label>
					<textarea th:field="*{descricao}" class="form-control"
						id="txtdescricao" rows="3" placeholder="Descrição"></textarea>
				</div>



				<div class="form-group">
					<label for="txtdentistas">Dentistas Habilitados</label>
					
					 <select name="slcDentista" id="slcDentista" >
					 	<option th:each="dentistas : ${listadentistas}"
					          th:value="${dentistas.id}" th:text="${dentistas.nome}">
					    </option>
					</select>


				</div>
				<div class="form-group">
					<table class="table">
							<thead class="thead-light">
								<tr>
									<th scope="col">Nome</th>
									<th scope="col">CPF</th>
								</tr>
							</thead>
							<tbody>
								<tr scope="row" th:each="umdentista : *{listaDentistasAutorizados}">
									<td th:text="${umdentista.nome}"></td>
									<td th:text="${umdentista.cpf}"></td>
								</tr>
							</tbody>
						</table>
				</div>
	



				<button type="submit" class="btn btn-primary">Enviar</button>
			</form>
		</div>
	</div>
	<div th:include="layout :: footer" id="footer">(footer)</div>

	<script type="text/javascript">
		$("listadentistas").selectize({
			delimiter : ',',
			persist : false,
			create : function(input) {
				return {
					value : input,
					text : input
				}
			}
		});
	</script>

</body>
</html>