<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: htmlhead"></head>
<meta charset="UTF-8">
<body>
	<nav class="navbar navbar-light bg-light static-top">
		<div class="container">
			<a class="navbar-brand" href="/">Odontosys</a>
			<div class="btn">
				<a class="btn btn-primary" href="/home">Funcionário</a> <a
					class="btn btn-secondary" href="/cliente-area">Cliente</a>
			</div>
		</div>
	</nav>
	<div class="container">
		<div class="border border-dark">
			<h3 class="text-center text-info">Cadastro do Paciente</h3>
			<form th:action="@{/register/(form)}" th:object="${paciente}"
				action="#" method="post">
				<input type="hidden" id="txtid" th:field="*{id}" />

				<div class="form-group col-md-8">
					<label for="txtnome">Nome</label> <input type="text"
						th:field="*{nome}" class="form-control" id="txtnome"
						placeholder="Nome" required>
				</div>

				<div class="form-group col-md-8">
					<label for="slcsexo">Sexo</label> <select class="form-control"
						id="slcsexo" th:field="*{sexo}" required>
						<option th:value="Masculino">Masculino</option>
						<option th:value="Feminino">Feminino</option>
						<option th:value="Outro">Outro</option>
					</select>
				</div>

				<div class="form-group col-md-8">
					<label for="txtCPF">CPF</label> <input type="text"
						th:field="*{cpf}" class="form-control" id="txtCPF"
						placeholder="CPF" required>
				</div>

				<div class="form-group col-md-8">
					<label for="txtendereco">Endereço</label> <input type="text"
						th:field="*{endereco}" class="form-control" id="txtendereco"
						placeholder="Rua Tenente Antônio João, 666 - Bom Retiro">
				</div>

				<div class="form-group col-md-8">
					<label for="txtemail">E-mail</label> <input type="text"
						th:field="*{email}" class="form-control" id="txtemail"
						placeholder="exemplo@exemplo.com" required>
				</div>

				<div class="form-group col-md-8">
					<label for="txtsenha">Senha</label> <input type="password"
						th:field="*{user.password}" class="form-control" id="txtsenha"
						placeholder="Digite uma senha" required>
				</div>


				<div class="btn">
					<button type="submit" class="btn btn-primary">Enviar</button>
				</div>
			</form>
		</div>
	</div>
	<div th:include="layout :: footer" id="footer">(footer)</div>
	
	<script type="text/javascript">
		$(function() {
			$("#txtCPF").mask("999.999.999-99");
		});
	</script>
</body>
</html>