<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: htmlhead"></head>
<meta charset="UTF-8">
<title>Alterar Paciente</title>
<body>
	<div class="container">
		<nav th:replace="cliente-area/layout :: menu">(menu)</nav>
		<div class="border border-dark">
			<form th:action="@{/cliente-area/cadastro/(form)}"
				th:object="${paciente}" action="#" method="post">
				<input type="hidden" id="txtid" th:field="*{id}" />

				<div class="form-group col-md-8">
					<label for="txtnome">Nome</label> <input type="text"
						th:field="*{nome}" class="form-control" id="txtnome"
						placeholder="Nome">
				</div>

				<div class="form-group col-md-8">
					<label for="slcsexo">Sexo</label> <select class="form-control"
						id="slcsexo" th:field="*{sexo}">
						<option th:value="Masculino">Masculino</option>
						<option th:value="Feminino">Feminino</option>
						<option th:value="Outro">Outro</option>
					</select>
				</div>

				<div class="form-group col-md-8">
					<label for="txtCPF">CPF</label> <input type="text"
						th:field="*{cpf}" class="form-control" id="txtCPF" disabled>
				</div>

				<input type="hidden" th:field="*{cpf}">

				<div class="form-group col-md-8">
					<label for="txtendereco">Endereço</label> <input type="text"
						th:field="*{endereco}" class="form-control" id="txtendereco"
						placeholder="Rua Tenente Antônio João, 666 - Bom Retiro">
				</div>

				<div class="form-group col-md-8">
					<label for="txtemail">E-mail</label> <input type="text"
						th:field="*{email}" class="form-control" id="txtemail"
						placeholder="exemplo@exemplo.com">
				</div>

				<div class="btn">
					<button type="submit" class="btn btn-primary">Enviar</button>
				</div>
			</form>
		</div>
	</div>
	<div th:include="layout :: footer" id="footer">(footer)</div>

</body>
</html>