<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: htmlhead"></head>
<meta charset="UTF-8">
<title>Agendar Consulta</title>
<body>
	<div class="container">
		<nav th:replace="cliente-area/layout :: menu">(menu)</nav>
		<div class="border border-dark">
			<form th:action="@{/cliente-area/consulta/(form)}" th:object="${agenda}" action="#"
				method="post" id="formAgenda">

				<input type="hidden" id="txtid" th:field="*{id}" />

				<div class="form-group col-md-8">
					<label for="txtPaciente">Paciente</label> <select
						class="form-control" id="listPaciente" th:field="*{paciente}"
						required>
						<option value="">Selecione o paciente</option>
						<option th:each="umpaciente : ${listapacientes}"
							th:value="${umpaciente.id}" th:text="${umpaciente.nome}"></option>
					</select>
				</div>
				
				<div class="form-group col-md-8">
					<label for="txtStatusCons">Status da Consulta</label> <select
						class="form-control" id="listStatusConsulta" th:field="*{status}"
						required>
						<option value="">Selecione o paciente</option>
						<option th:each="umstatus : ${listaStatusConsulta}"
							th:value="${umstatus.id}" th:text="${umstatus.status}"></option>
					</select>
				</div>

				<div class="form-group col-md-8">
					<label for="txtProcedimento">Procedimento</label> <select
						class="form-control" id="listProcedimentos"
						th:field="*{procedimento}" required>
						<option value="">Selecione o procedimento</option>
						<option th:each="umprocedimento : ${listaprocedimentos}"
							th:value="${umprocedimento.id}" th:text="${umprocedimento.nome}"></option>
					</select>
				</div>


				<div class="form-group col-md-8">
					<label for="txtDentista">Dentista</label> 
					
					<select 
						class="form-control" id="listProcedimentos"
						th:field="*{dentistaResponsavel}" required>
						<option value="">Selecione o dentista</option>
						<option th:each="umdentista : ${listadentistas}"
							    th:value="${umdentista.id}" th:text="${umdentista.nome}"></option>
					</select>
				</div>



				<div class="form-group col-md-8">
					<label for="data">Data</label>
					<div class="input-group date" id="datetimepicker1"
						data-target-input="nearest">
						<input type="text" class="form-control datetimepicker-input"
							data-target="#datetimepicker1" th:field="*{data}" />
						<div class="input-group-append" data-target="#datetimepicker1"
							data-toggle="datetimepicker">
							<div class="input-group-text">
								<i class="fa fa-calendar"></i>
							</div>
						</div>
					</div>
				</div>




				<button type="submit" class="btn btn-primary">Enviar</button>
			</form>
		</div>
	</div>
	<div th:include="layout :: footer" id="footer">(footer)</div>

	<script type="text/javascript">
		$(function() {
			$('#datetimepicker1').datetimepicker({
				locale : 'pt-br',
				format : "DD/MM/YYYY HH:mm"
			});
			
			$('#listProcedimentos').on("change", function(){
				$("#formAgenda").attr('action', "/agenda/atualizarmedicos?form").submit();
			});
		});
	</script>

</body>
</html>