<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: htmlhead"></head>
<meta charset="UTF-8">
<title>Consultas</title>
<body>
	<div class="container">
		<nav th:replace="cliente-area/layout :: menu">(menu)</nav>
		<div class="btn">
			<a href="form.html"
				th:href="@{/cliente-area/consulta/AgendarConsulta}"
				class="btn btn-primary btn-lg" role="button">Marcar Consulta</a>
		</div>
		<div class="border border-dark">
			<table class="table">
				<thead class="thead-light">
					<tr>
						<th scope="col">Nome</th>
						<th scope="col">Status</th>
						<th scope="col">Data</th>
						<th scope="col">Procedimento</th>
						<th scope="col">Dentista Responsável</th>
						<th scope="col"></th>
					</tr>
				</thead>
				<tbody>
					<tr scope="row" th:each="umacons : ${listacons}">
						<td th:text="${umacons.paciente.nome}"></td>
						<td th:text="${umacons.status.status}"></td>
						<td th:text="${#dates.format(umacons.data, 'dd/MM/yyyy HH:mm')}"></td>
						<td th:text="${umacons.procedimento.nome}"></td>
						<td th:text="${umacons.dentistaResponsavel.nome}"></td>
						<td><a href="form.html"
							th:href="@{'/cliente-area/consulta/alterar/' + ${umacons.id}}"
							class="btn btn-secondary btn-lg" role="button">Alterar</a>
					</tr>
				</tbody>
			</table>
		</div>

	</div>
	<div th:include="layout :: footer" id="footer">(footer)</div>
	<script th:inline="javascript">
		/*<![CDATA[*/
		$('#confirmaExclusao').on(
				'show.bs.modal',
				function(event) {
					var button = $(event.relatedTarget)
					var recipient = button.data('id')
					var modal = $(this)
					modal.find('#btnConf').attr("href",
							"/consulta/remover/" + recipient)
				})
		/*]]>*/
	</script>
</body>
</html>